In [2]:
import pandas as pd
import numpy as np

In [3]:
arr=np.array([1,2,3,4])
s=['a','b','c','d']

In [4]:
q=pd.Series(arr,index=s)
q

a    1
b    2
c    3
d    4
dtype: int32

In [5]:
list_fun=[sum,print,len]

In [6]:
list_fun[2]('hjhgh')

5

In [7]:
t=pd.Series([1,2,3,4],index=["a","b","e","d"])
t

a    1
b    2
e    3
d    4
dtype: int64

In [8]:
q+t

a    2.0
b    4.0
c    NaN
d    8.0
e    NaN
dtype: float64

In [9]:
np.random.seed(101)

In [10]:
df=pd.DataFrame(np.random.rand(5,4),index="A B C D E".split(),columns="W X Y Z".split())

In [11]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [12]:
df["X"]
#Data is series

A    0.570668
B    0.833897
C    0.189939
D    0.785602
E    0.603548
Name: X, dtype: float64

In [13]:
df[["X"]]
#data is dataframe

          X
A  0.570668
B  0.833897
C  0.189939
D  0.785602
E  0.603548

In [14]:
df[["X","Z"]]

          X         Z
A  0.570668  0.171522
B  0.833897  0.893613
C  0.189939  0.352132
D  0.785602  0.232354
E  0.603548  0.276239

In [15]:
df.X
#series

A    0.570668
B    0.833897
C    0.189939
D    0.785602
E    0.603548
Name: X, dtype: float64

In [16]:
df["New"]=df["W"]+df["Z"]

In [17]:
df

          W         X         Y         Z       New
A  0.516399  0.570668  0.028474  0.171522  0.687920
B  0.685277  0.833897  0.306966  0.893613  1.578890
C  0.721544  0.189939  0.554228  0.352132  1.073676
D  0.181892  0.785602  0.965483  0.232354  0.414246
E  0.083561  0.603548  0.728993  0.276239  0.359800

In [18]:
df.drop("New",axis=1)

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [19]:
df

          W         X         Y         Z       New
A  0.516399  0.570668  0.028474  0.171522  0.687920
B  0.685277  0.833897  0.306966  0.893613  1.578890
C  0.721544  0.189939  0.554228  0.352132  1.073676
D  0.181892  0.785602  0.965483  0.232354  0.414246
E  0.083561  0.603548  0.728993  0.276239  0.359800

In [20]:
df.drop("New",axis=1,inplace=True)

In [21]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [22]:
del df["Z"]

In [23]:
df

          W         X         Y
A  0.516399  0.570668  0.028474
B  0.685277  0.833897  0.306966
C  0.721544  0.189939  0.554228
D  0.181892  0.785602  0.965483
E  0.083561  0.603548  0.728993

In [24]:
df.loc["F"]=[3,4,5]

In [25]:
df

          W         X         Y
A  0.516399  0.570668  0.028474
B  0.685277  0.833897  0.306966
C  0.721544  0.189939  0.554228
D  0.181892  0.785602  0.965483
E  0.083561  0.603548  0.728993
F  3.000000  4.000000  5.000000

In [26]:
df.drop("E")

          W         X         Y
A  0.516399  0.570668  0.028474
B  0.685277  0.833897  0.306966
C  0.721544  0.189939  0.554228
D  0.181892  0.785602  0.965483
F  3.000000  4.000000  5.000000

In [27]:
df

          W         X         Y
A  0.516399  0.570668  0.028474
B  0.685277  0.833897  0.306966
C  0.721544  0.189939  0.554228
D  0.181892  0.785602  0.965483
E  0.083561  0.603548  0.728993
F  3.000000  4.000000  5.000000

In [28]:
df.drop("E",inplace=True)

In [29]:
df

          W         X         Y
A  0.516399  0.570668  0.028474
B  0.685277  0.833897  0.306966
C  0.721544  0.189939  0.554228
D  0.181892  0.785602  0.965483
F  3.000000  4.000000  5.000000

In [30]:
df=pd.DataFrame(np.random.rand(5,4),index="A B C D E".split(),columns="W X Y Z".split())

In [31]:
df

          W         X         Y         Z
A  0.685306  0.517867  0.048485  0.137869
B  0.186967  0.994318  0.520665  0.578790
C  0.734819  0.541962  0.913154  0.807920
D  0.402998  0.357224  0.952877  0.343632
E  0.865100  0.830278  0.538161  0.922469

In [38]:
df.loc['Y','D']='rice'
df

          W         X         Y         Z (Y, D)     D
A  0.685306  0.517867  0.048485  0.137869   rice   NaN
B  0.186967  0.994318  0.520665  0.578790   rice   NaN
C  0.734819  0.541962  0.913154  0.807920   rice   NaN
D  0.402998  0.357224  0.952877  0.343632   rice   NaN
E  0.865100  0.830278  0.538161  0.922469   rice   NaN
Y       NaN       NaN       NaN       NaN    NaN  rice

In [39]:
df.drop(df.loc["Y,D"],inplace=True,axis=1)

KeyError: 'Y,D'

In [53]:
df.loc['B','Y']="o"

In [54]:
df

          W         X          Y         Z (Y, D)
A  0.685306  0.517867  0.0484845  0.137869   rice
B  0.186967  0.994318          o  0.578790   rice
C  0.734819  0.541962   0.913154  0.807920   rice
D  0.402998  0.357224   0.952877  0.343632   rice
E  0.865100  0.830278   0.538161  0.922469   rice

In [66]:
a=df.iloc[0:-1,-1]
a

A    rice
B    rice
C    rice
D    rice
Name: (Y, D), dtype: object

In [70]:
df

          W         X          Y         Z (Y, D)
A  0.685306  0.517867  0.0484845  0.137869   rice
B  0.186967  0.994318          o  0.578790   rice
C  0.734819  0.541962   0.913154  0.807920   rice
D  0.402998  0.357224   0.952877  0.343632   rice
E  0.865100  0.830278   0.538161  0.922469   rice